
@{
    ViewData["Title"] = "Categoria";
}

<h1>Categoria</h1>

<form asp-action="Category" class="form-control">
    <div class="col-md-6">
        <label for="Name" class="col-2">Nome</label>
        <input type="password" class="col-2 " id="inputName">
    </div>
    <div class="col-md-12">
        <label for="Discription" class="col-2">Descrição</label>
        <input type="text" class="col-2 " id="inputDiscription">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Criar</button>
    </div>

</form>


@{
    
    {
    
    }
}